img{
    width: 40px;
    height: 50px;
    margin-inside: 10px;

}
body{

    background-image: url("pictures/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
div{
    background-color: white;
    width: 120%;
    height: 250px;
    margin-left: 200px;
    margin-top: 150px;
}

