# Default ignored files
/../../Friday assign./.idea/shelf/
/../../Friday assign./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Friday assign./.idea/httpRequests/
# Datasource local storage ignored files
/../../Friday assign./.idea/dataSources/
/../../Friday assign./.idea/dataSources.local.xml
